rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    // Users can only read and write to their own data, stored in a subcollection
    // under their user ID.
    match /users/{userId}/{documents=**} {
      allow read, write: if isOwner(userId);
    }
  }
}
